<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbgroup.qevis.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dbgroup.qevis.entity.Task">
        <id column="tid" property="tid" />
        <result column="aid" property="aid" />
        <result column="vid" property="vid" />
        <result column="task_id_suffix" property="taskIdSuffix" />
        <result column="machine" property="machine" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="fail" property="fail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tid, aid, vid, task_id_suffix, machine, start_time, end_time, fail
    </sql>

</mapper>
