<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbgroup.qevis.mapper.VertexMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dbgroup.qevis.entity.Vertex">
        <id column="vid" property="vid" />
        <result column="aid" property="aid" />
        <result column="vertex_name" property="vertexName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vid, aid, vertex_name, start_time, end_time, type
    </sql>

</mapper>
